.heroContainer {
  height: 60vh;
  width: 100%;
  background: fixed no-repeat center -130px;
  background-size: cover;
  background-image: url("../../../../assets/furniture/hero-projects.jpg");
  overflow: hidden;
  display: flex;
  align-items: center;
  perspective: 1px;
  transform-style: preserve-3d;
}

.hero {
  width: 100%;
  text-align: center;
  color: var(--text-color);
  padding: 20px;
  position: relative;
  transform: translateZ(-1px) scale(2);
  z-index: 2;
}

.heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

@media (min-width: 1440px) {
  .heroContainer {
    background: fixed no-repeat 0px -240px;
    background-size: cover;
    background-image: url("../../../../assets/furniture/hero-projects.jpg");
  }
}
