.heroContainer {
  height: 60vh;
  width: 100%;
  margin-bottom: 0.5rem;
  background: fixed no-repeat -315px -180px;
  background-image: url("../../../../assets/furniture/hero_image.jpg");
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.hero {
  width: 100%;
  text-align: center;
  color: var(--text-color);
  padding: 20px;
}

.heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.heroContainer {
  perspective: 1px;
  transform-style: preserve-3d;
  /* overflow-y: scroll; */
}

.hero {
  position: relative;
  transform: translateZ(-1px) scale(2);
  z-index: 2;
}

