:root {
  --primary-color: #5b7a9c;
  --secondary-color: rgb(210, 210, 210);
  --text-color: #fff;
}

.title {
  padding: 0.3rem;
  text-align: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  color: var(--text-color);
  background: var(--primary-color);
}

.subtitle {
  display: inline-block;
  padding: 0.9rem 1.5rem;
  margin: 0.5rem 0;
  /* padding: 0.9rem 5rem; */
  background-color: var(--primary-color);
  border-radius: 0 0.7rem 0.7rem 0;
  text-align: center;
  color: var(--text-color);
}

.subtitle:hover {
  display: block;
  border-radius: 0;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 60vh;
  padding: 1rem;
  margin: 0.5rem 0;
  background: var(--primary-color);
  flex-wrap: wrap;
}