:root {
    --primary-color: #5b7a9c;
    --secondary-color: rgb(210, 210, 210);
    --text-color: #fff;
  }

  .subtitle {
    display: inline-block;
    padding: 0.9rem 1.5rem;
    margin: 1rem 0;
    background-color: var(--primary-color);
    border-radius: 0 0.7rem 0.7rem 0;
    text-align: center;
    color: var(--text-color);
  }
  
  .subtitle:hover {
    display: block;
    border-radius: 0;
  }