:root {
  --bg-color: rgba(0, 0, 0, 0.8);
  --text-color: rgb(255, 255, 255);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.buttonClose {
  position: absolute;
  top: 2%;
  right: 4%;
  background-color: transparent;
  border: none;
}

.buttonClose > img {
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.4s ease;
}

.buttonClose > img:hover {
  transform: scale(1.4);
}

.buttonClose > image:active {
  transform: scale(1);
}

.generalContainer {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  gap: 1.5rem;
  padding: 1rem;
}

.generalContainer > div {
  flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.containerImage {
  position: relative;
}

.containerImage:hover {
  flex: 5;
}

.containerImage p {
  display: none;
}

.containerImage:hover p {
  display: block;
  position: absolute;
  bottom: -1.3rem;
  color: var(--text-color);
  margin-bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 1024px) {
  .generalContainer {
    flex-direction: row;
    /* height: 30rem; */
    height: 71%;
    padding-right: 35px;
    gap: 1rem;
  }

  .containerImage:hover p {
    bottom: -1.5rem;
  }
}
