.containerCarousel{
  width: 100%;
  max-width: 445px;
  height: 40vh;
  min-height: 350px;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageCarousel{
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.review{
  line-height: 1.5;
  padding: 1em;
}